body{
    background-color: blueviolet;
    color:aliceblue
    margin:0px
}
header{
    border-bottom: solid 2px rgb(241, 135, 153);
    padding: 20px;
    font-size: 32px;
    color: rgb(3, 121, 224);

}
section{
    background-color: blue;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}